@font-face {
  font-family: 'digital';
  src: url('digital-7.regular-webfont.woff2') format('woff2'),
       url('digital-7.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  text-align:center;
  background-color:#d1d1d1;
  font-size:2rem;
}

h1{
  font-family:Impact, fantasy;
  font-size:60px;
  font-weight:lighter;
  display:inline;
}

button{
  transition-duration:0.3s;
  cursor:pointer;
}

.dateCont{
  display:flex;
  font-family:cursive;
  justify-content:space-between;
}

.date{
  padding-right:10px;
}

.timerCont{
  display:flex;
  width:500px;
  margin:auto;
  margin-top:25px;
  border:5px solid black;
  border-radius:50px;
  font-family:'digital';
  font-size:15rem;
  padding:20px 30px 20px 30px;
  box-shadow:0 10px 10px 0 rgba(0, 0, 0, 0.5)
}

.timerMinutes{
  flex-basis:40%;
}

.timerSeconds{
  flex-basis:60%;
}

.err{
  font-family:monospace;
  font-size: 1.7rem;
  font-weight:bold;
  position:relative;
  display:inline;
  color: #d1d1d1;
}

.errNeg{
  bottom:10px;
}

.errs{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-top:10px;
}

.errMin{
  margin:0 40px 0 -10px;
}

.inputs{
  margin:10px 0 15px 35px;
}

.buttons{
  display:flex;
  justify-content:space-around;
  width:500px;
  margin:auto;
 
}

.startBtn, .resetBtn{
  padding:10px;
  border-radius:30px;
  font-family:monospace;
  font-size:2.2rem;
  font-weight:bold;
}
.startBtn{
  background-color:#1ac400;
}

.startBtn:hover{
  background-color:#22e600;
}

.resetBtn{
  background-color:#f7f42f;
  margin-right:20px;
}

.resetBtn:hover{
  background-color:#fffeab;
}

.time{
  font-size:2.5rem;
  padding:5px;
  text-align:center;
  width:80px;
  border: 1px solid grey;
  border-radius: 5px;
  height:60px;
  box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
